/* 框架样式 */
#frame-body {position:absolute;top:50px;left:0;right:0;bottom:0;}
#frame-west {background:#f4f4f4;border-right:solid 1px #fff;}
#frame-center {background:#fff;}

/* 左部导航区 */
.leftmenu {width:100%;}
.leftmenu,.leftmenu ul,.leftmenu li{list-style-type:none;margin:0;padding:0}
.leftmenu>li {border-top: solid 1px #fff;border-bottom: solid 1px #c8c8c8;}
.leftmenu li.clearfix {border-bottom:none;}
.leftmenu>li>a {display:block;padding:10px 0 10px 10px;font-size:12px;color:#888;position:relative;}
.menu-close>ul {display:none;}
.menu-open>a:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    content: "\f106";
    position:absolute;
    top:12px;
    right:5px;
    font-size:16px;
}
.menu-close>a:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    content: "\f107";
    position:absolute;
    top:12px;
    right:5px;
    font-size:16px;
}
.menu-open>ul {display:block;}
.submenu>li>a {display:block; padding:3px 30px 8px;font-size:12px;color:#888;}
.leftmenu a{text-decoration:none;}
.leftmenu a:hover,.leftmenu a.active{text-decoration:none;background:rgba(83,83,83,0.3);color:#d0e9ff;}
.leftmenu i {padding:0;margin:0;font-size:15px;vertical-align:text-bottom;}

